@CHARSET "utf-8";
body {background-color: #f6f6f6; font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,"Microsoft Yahei",sans-serif}
a {color: #64854c;text-decoration: none;}
pre {margin: 15px auto;font: 12px/20px 'courier new';word-break: break-all;word-wrap: break-word;border: 1px solid #ddd;border-left-width: 4px;background: #fbfbfb top;padding: 10px 15px;}
.main {max-width:1140px;width:100%;min-width:755px;margin:0 auto;overflow:hidden;margin-top:1%}
.main-left {float:left;margin-right:1%;width:16%}
.main-left h3 {font-size:18px;}
.main-left .list-group-item {padding:5px 10px}
.main-left .list-group-item .list-group-item-heading {font-size:12px}
.main-center {width:66%; float:left;}
.main-center h3 {margin-left:15px}
.main-content {background-color:#ffffff; padding:15px;border: 1px solid #e4e4e4;}
.main-center-links {background-color: #f6f6f6; margin:10px}
.main-center-pre {float:left;}
.main-center-next {float:right;}
.main-center-links a {color:gray;}
.main-center-links a:hover {color:#35b558;}
.main-content h1 {margin: 0 0 10px 0;font-size: 2.1em;text-indent: initial;text-decoration: none;color: #000;}
.main-content h2 {padding-top: 5px;border-top: 1px solid #d4d4d4;clear: both;font-size:1.8em;}
.footer {margin-bottom:30px;background-color:#ffffff;}
.footer dl {float:left;}
.color_h1 {color:#64854c}
.w3cschoolcc-block {background: #fff none repeat scroll 0 0;border-bottom: 1px solid #e4e4e4;border-top: 1px solid #e4e4e4;padding-bottom: 50px;}
.w3cschoolcc-block .w3cschoolcc {margin: 0 auto;min-height: 200px;width: 80%;}
.w3cschoolcc dl {border-left:1px solid #e4e4e4;color:gray;float:left;margin:25px 0;min-height:175px;padding-left:30px;width:15%;}
.w3cschoolcc dl dt {color: #666;font-size: 14px;font-weight: 500;}
.w3cschoolcc dl dd {font-size: 12px;margin-top: 10px;}
.w3cschoolcc a {color: gray;padding-left: 5px;}
.w3cschoolcc a:hover {color: #35b558;}
.fixed-btn {background-color: white;border: 1px solid #eee;bottom: 2%;font-size: 24px;position: fixed;right: 1%;width: 40px;z-index: 1040;}
.fixed-btn a::after {content:".";display: inline-block;font-size: 0;height: 100%;vertical-align: middle;}
.fixed-btn .go-top {border-bottom: 1px solid #eee;}
.fixed-btn a {display: inline-block;height: 40px;text-align: center;width: 40px;}
.fixed-btn a i {vertical-align: middle;}
.fa {display: inline-block;font-family: FontAwesome;font-feature-settings: normal;font-kerning: auto;font-language-override: normal;font-size: 12px;font-size-adjust: none;font-stretch: normal;font-style: normal;font-synthesis: weight style;font-variant: normal;font-weight: normal;line-height:1;text-rendering: auto;}
table.reference, table.tecspec {border-collapse: collapse;width: 100%;margin-bottom: 4px;margin-top: 4px;}
.codelist a.item-top {width: 28%;margin: 0 8px 10px 0;text-align: left;height: 80px;color: #bbb;background-color: #f6f6f6;border-radius: 5px;padding: 6px 16px;}
.codelist a.item-top:hover {background-color: #f6f6e6;}
.codelist a.item-top h4 {color: #64854c;font-size: 16px;margin-top: 10px;margin-bottom: 10px;line-height: 1.1;text-align: left;}
.codelist a.item-top .codeicon {float: left;margin-left: 10px;margin-right: 10px;}
.codelist a.item-top strong {display: block;color: #666;text-align: left;}
.codelist {overflow: hidden;}
.codelist p.latest-p {width:100%; overflow:hidden; white-space:nowrap; margin-top:10px}
.codelist a {width: 72px;margin: 0 5px 8px 5px;float: left;text-align: center;color: #999;font-size: 12px;height: 65px;overflow: hidden;text-decoration: none;}
.codelist a.latest {font-size:14px; width:200px;color:#000;float:none;color:#666;}
.codelist a.latest:hover {color: #000;}
.middle-column-home {width: 100%;margin-right: 0;padding: 12px 20px;border: 1px solid #eaeaea;background-color: #fff;border-radius: 4px;}
.codelist h2 {border-bottom: 1px solid #eaeaea; font-size: 18px; font-weight: 700; margin: 12px 0; padding-bottom:5px;}
.index-main-center {width:100%; float:left;}
.index-main {max-width:1140px;width:100%;min-width:755px;margin:0 auto;overflow:hidden;margin-top:1%;margin-bottom:1%;}